@import "mocha.css";

* {
  /* reference the color by using @color-name */
  color: @text;
  padding: 0px;
  margin: 0px;
  font-family: "MesloLGS NF";
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 0.9);
  border-bottom: 1px solid alpha(@overlay0, 0.5);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#custom-dwl,
#custom-media,
#tray,
#pulseaudio,
#backlight,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 0px 0px; 
  border-left: 1px solid @overlay0;
  background-color: @base;
  color: @text;
}

#custom-dwl,
#pulseaudio {
  border-left: 0;
}

#pulseaudio {
  color: @green;
}
#backlight {
  color: @yellow;
}
#network {
  color: @red;
}
#memory {
  color: @teal;
}
#cpu {
  color: @lavender;
}
#battery {
  color: @sapphire;
}
#clock {
  color: @mauve;
}
